@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@700&family=Ubuntu:wght@400;500;700&display=swap");

$firstFont: "Ubuntu", sans-serif;

$darkBlue: #0097e6;
$lightBlue: #2ba9ea;
$grey: #828282;
$green: #45f391;
$white: #ffffff;
$black: #000000;
